h3,
 h4 {
     margin: 10px 0 30px 0;
     letter-spacing: 10px;
     font-size: 20px;
     color: #111;
 }

 .container {
     padding: 80px 120px;
 }

 .person {
     border: 10px solid transparent;
     margin-bottom: 25px;
     width: 80%;
     height: 80%;
     opacity: 0.7;
 }

 .person:hover {
     border-color: #f1f1f1;
 }

 .carousel-inner img {
     -webkit-filter: grayscale(90%);
     filter: grayscale(90%);
     /* make all photos black and white */
     width: 100%;
     /* Set width to 100% */
     margin: auto;
 }

 .carousel-caption h3 {
     color: #fff !important;
 }

 @media (max-width: 600px) {
     .carousel-caption {
         display: none;
         /* Hide the carousel text when the screen is less than 600 pixels wide */
     }
 }

 .bg-1 {
     background: #2d2d30;
     color: #bdbdbd;
 }

 .bg-1 h3 {
     color: #fff;
 }

 .bg-1 p {
     font-style: italic;
 }

 .list-group-item:first-child {
     border-top-right-radius: 0;
     border-top-left-radius: 0;
 }

 .list-group-item:last-child {
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
 }

 .thumbnail {
     padding: 0 0 15px 0;
     border: none;
     border-radius: 0;
 }

 .thumbnail p {
     margin-top: 15px;
     color: #555;
 }

 .btn {
     padding: 10px 20px;
     background-color: #333;
     color: #f1f1f1;
     border-radius: 0;
     transition: .2s;
 }

 .btn:hover,
 .btn:focus {
     border: 1px solid #333;
     background-color: #fff;
     color: #000;
 }

 .modal-header,
 h4,
 .close {
     background-color: #333;
     color: #fff !important;
     text-align: center;
     font-size: 30px;
 }

 .modal-header,
 .modal-body {
     padding: 40px 50px;
 }

 .nav-tabs li a {
     color: #777;
 }

 #googleMap {
     width: 100%;
     height: 400px;
     -webkit-filter: grayscale(100%);
     filter: grayscale(100%);
 }

 .navbar {
     font-family: Montserrat, sans-serif;
     margin-bottom: 0;
     background-color: #2d2d30;
     border: 0;
     font-size: 11px !important;
     letter-spacing: 4px;
     opacity: 0.9;
 }

 .navbar li a,
 .navbar .navbar-brand {
     color: #d5d5d5 !important;
 }

 .navbar-nav li a:hover {
     color: #fff !important;
 }

 .navbar-nav li.active a {
     color: #fff !important;
     background-color: #29292c !important;
 }

 .navbar-default .navbar-toggle {
     border-color: transparent;
 }

 .open .dropdown-toggle {
     color: #fff;
     background-color: #555 !important;
 }

 .dropdown-menu li a {
     color: #000 !important;
 }

 .dropdown-menu li a:hover {
     background-color: red !important;
 }

 footer {
     background-color: #2d2d30;
     color: #f5f5f5;
     padding: 32px;
 }

 footer a {
     color: #f5f5f5;
 }

 footer a:hover {
     color: #777;
     text-decoration: none;
 }

 .form-control {
     border-radius: 0;
 }

 textarea {
     resize: none;
 }

 #google_translate_element {
     display: none;
 }

 .goog-te-banner-frame {
     display: none !important;
 }

 body {
     position: static !important;
     top: 0 !important;
 }


 

         /* Full-width input fields */
    
         .modal p {
             text-align: center;
             width: 80%
         }
    
         input[type=text],
         input[type=password],
         input[type=email],
         input[type=submit] {
             width: 360px;
             padding: 12px 20px;
             margin: 0 auto 20px auto;
             border: 1px solid #ccc;
             box-sizing: border-box;
         }
    
         form {
             width: 360px;
             margin: auto;
         }
    
         /* Set a style for all buttons */
         button {
             margin-bottom: 0;
             font-weight: 400;
             cursor: pointer;
             margin: 0 0 20px 0;
             background-image: none;
             border: 1px solid transparent;
             white-space: nowrap;
             padding: 6px 12px;
             font-size: 14px;
             line-height: 1.42857143;
             border-radius: 4px;
             -webkit-user-select: none;
             -moz-user-select: none;
             -ms-user-select: none;
             user-select: none;
         }
    
         button:hover {
             opacity: 0.8;
         }
    
         /* Extra styles for the cancel button */
         .cancelbtn {
             width: auto;
             padding: 10px 18px;
             background-color: #f44336;
         }
    
         /* Center the image and position the close button */
         .imgcontainer {
             text-align: center;
             margin: 24px 0 24px 0;
             position: relative;
         }
    
         img.avatar {
             width: 40%;
             border-radius: 50%;
         }
    
    
         span.psw {
             float: right;
             padding-top: 16px;
         }
    
         /* The Modal (background) */
         .modal {
             display: none;
             /* Hidden by default */
             position: fixed;
             /* Stay in place */
             z-index: 1;
             /* Sit on top */
             left: 0;
             top: 0;
             width: 100%;
             /* Full width */
             height: 100%;
             /* Full height */
             overflow: auto;
             /* Enable scroll if needed */
             background-color: rgb(0, 0, 0);
             /* Fallback color */
             background-color: rgba(0, 0, 0, 0.4);
             /* Black w/ opacity */
             padding-top: 60px;
         }
    
         /* Modal Content/Box */
         .modal-content {
             border-radius: 8px;
             position: relative;
             background-color: #fefefe;
             margin: 5% auto 15% auto;
             /* 5% from the top, 15% from the bottom and centered */
             border: 1px solid #888;
             width: 450px;
             /* Could be more or less, depending on screen size */
         }
    
         /* The Close Button (x) */
         .close {
             position: absolute;
             right: 25px;
             top: 0;
             color: #000;
             font-size: 35px;
             font-weight: bold;
         }
    
         .close:hover,
         .close:focus {
             color: red;
             cursor: pointer;
         }
    
         /* Add Zoom Animation */
         .animate {
             -webkit-animation: animatezoom 0.6s;
             animation: animatezoom 0.6s
         }
    
         @-webkit-keyframes animatezoom {
             from {
                 -webkit-transform: scale(0)
             }
    
             to {
                 -webkit-transform: scale(1)
             }
         }
    
         @keyframes animatezoom {
             from {
                 transform: scale(0)
             }
    
             to {
                 transform: scale(1)
             }
         }
    
         /* Change styles for span and cancel button on extra small screens */
         @media screen and (max-width: 300px) {
             span.psw {
                 display: block;
                 float: none;
             }
    
             .cancelbtn {
                 width: 100%;
             }
         }

        
                 /* Full-width input fields */
                 .modal p {
                     text-align: center;
                     width: 80%
                 }
        
                 input[type=text],
                 input[type=password],
                 input[type=email],
                 input[type=submit] {
                     width: 360px;
                     padding: 12px 20px;
                     margin: 0 auto 20px auto;
                     border: 1px solid #ccc;
                     box-sizing: border-box;
                 }
        
                 form {
                     width: 360px;
                     margin: auto;
                 }
        
                 /* Set a style for all buttons */
                 button {
                     margin-bottom: 0;
                     font-weight: 400;
                     cursor: pointer;
                     margin: 0 0 20px 0;
                     background-image: none;
                     border: 1px solid transparent;
                     white-space: nowrap;
                     padding: 6px 12px;
                     font-size: 14px;
                     line-height: 1.42857143;
                     border-radius: 4px;
                     -webkit-user-select: none;
                     -moz-user-select: none;
                     -ms-user-select: none;
                     user-select: none;
                 }
        
                 button:hover {
                     opacity: 0.8;
                 }
        
                 /* Extra styles for the cancel button */
                 .cancelbtn {
                     width: auto;
                     padding: 10px 18px;
                     background-color: #f44336;
                 }
        
                 /* Center the image and position the close button */
                 .imgcontainer {
                     text-align: center;
                     margin: 24px 0 24px 0;
                     position: relative;
                 }
        
                 img.avatar {
                     width: 40%;
                     border-radius: 50%;
                 }
        
                 span.psw {
                     float: right;
                     padding-top: 16px;
                 }
        
                 /* The Modal (background) */
                 .modal {
                     display: none;
                     /* Hidden by default */
                     position: fixed;
                     /* Stay in place */
                     z-index: 1;
                     /* Sit on top */
                     left: 0;
                     top: 0;
                     width: 100%;
                     /* Full width */
                     height: 100%;
                     /* Full height */
                     overflow: auto;
                     /* Enable scroll if needed */
                     background-color: rgb(0, 0, 0);
                     /* Fallback color */
                     background-color: rgba(0, 0, 0, 0.4);
                     /* Black w/ opacity */
                     padding-top: 60px;
                 }
        
                 /* Modal Content/Box */
                 .modal-content {
                     border-radius: 8px;
                     position: relative;
                     background-color: #fefefe;
                     margin: 5% auto 15% auto;
                     /* 5% from the top, 15% from the bottom and centered */
                     border: 1px solid #888;
                     width: 450px;
                     /* Could be more or less, depending on screen size */
                 }
        
                 /* The Close Button (x) */
                 .close {
                     position: absolute;
                     right: 25px;
                     top: 0;
                     color: #000;
                     font-size: 35px;
                     font-weight: bold;
                 }
        
                 .close:hover,
                 .close:focus {
                     color: red;
                     cursor: pointer;
                 }
        
                 /* Add Zoom Animation */
                 .animate {
                     -webkit-animation: animatezoom 0.6s;
                     animation: animatezoom 0.6s
                 }
        
                 @-webkit-keyframes animatezoom {
                     from {
                         -webkit-transform: scale(0)
                     }
        
                     to {
                         -webkit-transform: scale(1)
                     }
                 }
        
                 @keyframes animatezoom {
                     from {
                         transform: scale(0)
                     }
        
                     to {
                         transform: scale(1)
                     }
                 }
        
                 /* Change styles for span and cancel button on extra small screens */
                 @media screen and (max-width: 300px) {
                     span.psw {
                         display: block;
                         float: none;
                     }
        
                     .cancelbtn {
                         width: 100%;
                     }
                 }
        